body {
  background: #f2f2f2 0% 0% no-repeat padding-box;
}
.section1 p {
  text-align: center;
  margin: 50px;
  font: 36px bold;
}
.cards {
  margin: 0 158px 60px 0;
  padding-left: 10vh;
  row-gap: 5;
}
.card1,
.card2,
.card3 {
  border: none;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
  align-items: center;
  padding: 25px;
  margin: 15px 32px 15px;
}
.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.title {
  font: 20px bold Roboto;
  padding: 20px;
}
.card-body {
  color: #26093a;
}
.learnMore {
  width: 304px;
  height: 50px;
  border: 0.5px solid #000000;
  border-radius: 4px;
  opacity: 1;
  display: block;
  margin-left: 36vw;
  margin-right: auto;
}
.sell-steps {
  text-align: center;
  font: normal normal bold 38px/156px Roboto;
  letter-spacing: 0px;
  color: #26093a;
}

/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card1,
  .card2,
  .card3 {
    margin: 15px 0;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
